body {
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    background: black;
    text-align: center;
    height: auto;
    overflow-y: auto;
    overflow-x: hidden;
}

.navbar {
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.navbar-navigation {
    position: relative;
    z-index: 1;
    word-spacing: 20px;
}
.navbar-navigation a {
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

.page {
    position: absolute;
    top:0px;
    bottom: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-size: cover;
    background-repeat: no-repeat;
}
.content {
    margin: 25vh;
    max-width: 500px;
    min-width: 300px;
}
#Hem {
    background-image: url("./bg.png"); 
    transition: all .3s ease-in-out;
    transform: translateY(0%);
}
#Hem:target {
    background-image: url("./bg.png");  
    transition: all .3s ease-in-out;
    transform: translateY(0%);
}

#Info { 
    background-image: url("./bg2.png");
    transition: all .2s ease-in-out;
    transform: translateY(-100%);
}
#Info:target { 
    background-image: url("./bg2.png");
    transition: all .4s ease-in-out;
    transform: translateY(0%);
}
#Regler { 
    background-image: url("./bg3.png");
    transition: all .2s ease-in-out;
    transform: translateY(-100%);
}
#Regler:target { 
    background-image: url("./bg3.png");
    transition: all .4s ease-in-out;
    transform: translateY(0%);
}
#Karta { 
    background-image: url("./bg.png");
    transition: all .2s ease-in-out;
    transform: translateY(-105%);
}
#Karta:target { 
    background-image: url("./bg.png");
    transition: all .4s ease-in-out;
    transform: translateY(0%);
}
iframe {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 99.7%;
    margin: 0px;
    overflow: hidden !important;
}

a:hover {
    text-decoration: underline;
}
.logo {
    height: 35px;
    width: auto;
    margin: 20px
}

a {
    text-decoration: none;
    color: white;
}

h1 {
    text-transform: uppercase;
    font-size: 90px;
    margin: 0px;
}
h2 {
    text-transform: uppercase;
    font-size: 20px;
    margin: 10px;
}
h3 {
    font-size: 20px;
    text-align: left;
}
ul {
    text-align: left;
    line-height: 45px;
    list-style: none;
}