body{
    margin: 0px;
    color:white;
}
.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #ff8000;
}
.page-header-navigation {
    display: inherit;
}


.page-header-logo {
    display: inherit;
    align-items: center;
    height: 35px;
}
